@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html, body {
  background-color: rgb(43, 43, 43);
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.code-placeholder {
  background-color: rgb(62, 62, 62);
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.code-placeholder::-webkit-scrollbar {
  display: none;
}

.endpoint-placeholder {
  background-color: rgb(62, 62, 62);
  padding: 3px 10px;
  border-radius: 5px;
  word-wrap: break-word;
  width: fit-content;
}

.table-container {
  overflow-x: auto;
}

.table-container table {
  width: 100%;
}

.table-container table thead tr {
  background: rgb(35, 35, 35);
}

.table-container table tbody tr:nth-child(even) {
  background: rgb(43, 43, 43);
}

.table-container table thead tr th {
  padding: 10px;
  font-size: 13px;
}

.table-container table tbody tr td {
  padding: 10px;
  font-size: 13px;
  text-align: center;
}

.badge {
  border-radius: 5px;
  padding: 2px 7px;
}

.badge.post {
  background: rgb(15, 163, 15);
}

.badge.get {
  background: rgb(48, 120, 202);
}

.badge.patch {
  background: rgb(255, 116, 46);
}

.badge.delete {
  background: rgb(255, 46, 46);
}

.req-res-block {
  margin-top: 15px;
  font-size: 14px;
  word-wrap: break-word;
}

.req-res-block > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 30px;
  background: rgb(62, 62, 62);
  padding: 20px;
}

.req-res-block > div:nth-child(1) p {
  cursor: pointer;
}

.req-res-block > div:nth-child(2) {
  background: rgb(50, 50, 50);
  padding: 20px;
}

.req-res-block > div:nth-child(2) p {
  font-size: 13px;
}

.req-res-block > div:nth-child(2) p:not(:last-child) {
  margin-bottom: 8px;
}

.req-res-block > div:nth-child(2) p:not(:first-child):not(:last-child) {
  margin-left: 30px;
}

.subsection {
  margin-top: 22px;
}

.subsection .title {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.subsection .title div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subsection .title p {
  font-size: 13px;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

header {
  width: 100%;
  border-bottom: 1px solid rgb(112, 112, 112);
  padding: 18px 40px;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div,
header a {
  display: flex;
  align-items: center;
  gap: 3px;
}

header i {
  margin-right: 6px;
}

header a {
  background: rgb(81, 81, 81);
  padding: 5px 14px;
  border-radius: 5px;
  font-size: 15px;
  transition: background 300ms;
}

header a:hover {
  background: rgb(110, 110, 110);
}

header h1 {
  font-size: 18px;
  margin-left: 20px;
}

main {
  display: flex;
  flex: 1;
  height: calc(100vh - 80px);
}

main > div:nth-child(1) {
  flex: 1;
  background: rgb(47, 47, 47);
  border-right: 1px solid rgb(112, 112, 112);
  padding: 20px 40px 20px 40px;
  overflow: auto;
  display: none;
}

main > div:nth-child(1)::-webkit-scrollbar {
  display: none;
}

main > div:nth-child(1) {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main > div:nth-child(1) .header-link a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

main > div:nth-child(1) .header-link a {
  margin-bottom: 20px;
}

main > div:nth-child(1) .header-link .header-sublink {
  margin-left: 25px;
}

main > div:nth-child(2) {
  flex: 4;
  padding: 20px 40px;
  overflow: auto;
}

main > div:nth-child(2)::-webkit-scrollbar {
  width: 10px;
}

main > div:nth-child(2)::-webkit-scrollbar-track {
  background: #7e7e7e;
  border-radius: 50px;
}
 
main > div:nth-child(2)::-webkit-scrollbar-thumb {
  background: rgb(79, 79, 79); 
  border-radius: 50px;
}

/* Handle on hover */
main > div:nth-child(2)::-webkit-scrollbar-thumb:hover {
  background: rgb(101, 101, 101); 
}

main > div:nth-child(2) h3, h4 {
  color: rgb(245, 245, 245);
}

main > div:nth-child(2) .description {
  font-size: 14px;
  color: rgb(213, 213, 213);
  margin-top: 15px;
  line-height: 2;
}

main > div:nth-child(2) section:not(:last-child) {
  margin-bottom: 45px;
}

.req-res-block > div:nth-child(2) .increase-indent {
  margin-left: 30px !important;
}

.req-res-block > div:nth-child(2) .increase-indent p:first-child,
.req-res-block > div:nth-child(2) .increase-indent p:last-child {
  margin-left: 30px;
}

.req-res-link-active {
  position: relative;
}

.req-res-link-active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  margin-top: 3px;
  background: rgb(255, 90, 25);
}

@media (min-width: 700px) {
  main > div:nth-child(1) {
    display: block;
  }

  .subsection .title {
    flex-direction: row;
    align-items: center;
  }
}